//TableHeader style

@use "../../../style/var";

.TabelHeader {
    h4 {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        cursor: pointer;
        color: var.$table-header-color;

        font-weight: 600;
        font-size: 0.875rem;
    }

    h4::after {
        content: url("../../../img/arrow.svg");
        display: block;
        margin-left: 25px;

        @media screen and (max-width: var.$s) {
            margin-left: 10px;
        }
    }

    h4::after,
    h4.base::after {
        opacity: 0.5;
    }

    h4.forward::after,
    h4.reverse::after,
    h4:hover::after {
        opacity: 1;
    }

    h4.reverse::after {
        transform: rotate(180deg);
    }
}
