// _var.scss

// color
$primary-color: #474955;
$search-bg-color: #5a5c66;
$search-placeholder-color: #b2b7bf;
$search-color: #ffffff;
$table-header-color: #ffffff;
$table-header-bg-color: #474955;
$table-border-color: #e3e6ec;
$current-page-color: #7ebc3c;

// screen width
$xxl: 1920px;
$xl: 1280px;
$l: 992px;
$m: 768px;
$s: 576px;
$xs: 376px;
